archive.urfonline.com {
	root /media/Storage/archives
	browse

	mime .mp3 audio/mpeg

	internal /.htpasswd
	basicauth urf htpasswd=.htpasswd {
		realm "URF Archive"
		/
	}
}

streamer.urfonline.com/archive/ {
	redir https://archive.urfonline.com
}

streamer.urfonline.com {
	root /var/www/streamer
}

76podcasting.net {
	root /var/www/seventysix
}
