archive.urfonline.com {
	root * /media/Storage/archives
	file_server browse {
		hide .htpasswd
	}

	basicauth * scrypt "URF Archive" {
		urf dswFoviIwrwAnA3i/zn/rGpiiGQyk+e3xckIua5rMqQ=
	}
}

streamer.urfonline.com/archive/ {
	redir https://archive.urfonline.com
}

streamer.urfonline.com {
	root * /var/www/streamer
	file_server
}

76podcasting.net {
	root * /var/www/seventysix
	file_server
}

beta.76podcasting.net {
	root * /var/www/seventysix-beta
	file_server
	encode gzip

	try_files {path} /index.html
}
